  @import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;800&display=swap');

  @import url(respons-desktop.css);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
  --ff-text:'Epilogue', Sans-serif;

  --hue:250;
  --fc-primary:hsl(var(--hue), 0%, 100%);
  --fc-secondary: hsl(var(--hue), 50%, 80%);
  --fc-secondary-dark:hsla(var(--hue), 100%, 11%, 1);
  --bg-primary: hsl(var(--hue), 22%, 20%);
  
  --fs-heading: clamp(4rem, 1rem + 3vw , 5.6rem);

  --fs-body : 1.6rem;
    font-size: 62.5%; 
}

body{
  background: var(--bg-primary);
  color: var(--fc-primary);
  font-family: var(--ff-text);
  font-size : var(var(--fs-body));
}

#page{
  max-width: clamp(33rem, 30rem + 60vw, 117rem);
  padding: 0 4rem;
  margin: 0 auto;
}

img{
  width: 100%;
  height: auto;
}

header{
  margin: 10rem 0 8rem;
  text-align: center;

  animation-name: topdown;
  animation-duration: 700ms;
  animation-delay: 350ms;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in-out;
}

header p{
  color: var(--fc-secondary);
  text-transform: uppercase;
  line-height: 3.2rem; 
  letter-spacing: 3px;
  font-size: var(--fs-body);

  margin-bottom: 1.7rem;
}

header h1{
  font-size: var(--fs-heading);
  font-weight: 800;
  line-height: 4.8rem;
}

main{
  display: grid;
  gap: 2.3rem;

  animation-name: downtop;
  animation-duration: 1s;
  animation-delay: 350ms;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in-out;
}

.card{
  position: relative;
  text-align: center;
}


.card img{
  height: 41.6rem;   
  object-fit: cover; /*Para encaixar a imagem na caixa*/
  border-radius: 6px;
  transition-property: all;
  transition-duration: 200ms;
  /* transition-delay: 1s; --> atraso ao cilicar no conteudo*/

}

.card img:hover{
  transform: scale(1.1);
  opacity: 0.4;
}


.card h2{
  position: absolute; 
  bottom: 5.2rem;
  left: 2.8rem;

  font-size: var(--fs-heading);
  font-weight: 800;
  line-height: 4.8rem;

  display: flex;
  flex-direction: column;
  gap: 2.8rem;
}


.card h2 span{
  width: fit-content;
  height: 3.8rem;
 
  display: inline-flex;
  align-items: center;

  padding: 5px 1.6rem;
  text-transform: capitalize;

  border-radius: 2rem;
  background:var(--fc-primary);

  color:var(--fc-secondary-dark);
  font-weight: 400;
  font-size: var(--fs-body);
  line-height: 3.2rem;

  padding: 0 1.6rem;
}


/* ANIMAÇÕES NO CSS */

@keyframes topdown{
  0%{
    opacity: 0;
    transform:translateX(-40px)
  }

  100%{
    opacity: 1;
    transform: translateX(0);
  }
}



@keyframes downtop{
  0%{
    opacity: 0;
    transform:translateY(40px)
  }

  100%{
    opacity: 1;
    transform: translateY(0);
  }
}


main > div:first-child{
  animation-name: leftright;
  animation-duration: 1s;
  animation-delay: 350ms;
  animation-fill-mode: backwards;
}

@keyframes leftright {
    0%{
      opacity: 0;
      transform: translateX(-100px);
    }

    100%{
      opacity: 1;
      transform: translateX(0);
    }
}

/* AJUSTE PARA TABLET E DESKTOP */


@media screen and (min-width:768px) {
  /* :root{
    --fs-heading: 5.6rem;
  } */

  /* #page{
      max-width: 117rem;
      padding: 0 5rem;
  } */

  main{
    grid-template-columns: 2fr 2fr;
  }
}



@media (min-width:930px){

  #page{
      max-width: 117rem;
      padding: 0 5rem;
  }

  header h1{
    font-size:var(--fs-heading);
  }

  main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "A B B"
    "C C D";
    
  }

  main > div:nth-child(1){
    grid-area: A;
  }

    main > div:nth-child(2){
    grid-area: B;
  }
  main > div:nth-child(3){
    grid-area: C;
  }

  main > div:nth-child(4){
    grid-area: D;
  }

}
